<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<typeAlias alias="finder" type="com.sle.finder.board.FinderVO" />
<typeAlias alias="user" type="com.sle.finder.login.UserVO" />
</typeAliases>
</configuration>